.card-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

.to-card{
    background-color: #37AFE1;
    border-radius: 5px;
}

