.navbar {
    background-color: #4CC9FE;
    border-radius: 0 0 12px 12px;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 35% 30% 35%;
}

/* Styling untuk logo */
.navbar h1 {
    font-size: 26px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/* Styling untuk menu */
.menu-list {
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.menu-list p {
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

/* Hover effect */
.menu-list p:hover {
    color: #023E8A;
    font-weight: bold;
}
